<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SPKTCore.Properties.Settings.SPKTConnectionString"
            connectionString="Data Source=.;Initial Catalog=SPKT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SPKTCore.Properties.Settings.SPKTConnectionString1"
            connectionString="Data Source=LI-PC;Initial Catalog=SPKT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>